{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Cook List
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔍">
  </form>
  {% if cook_list %}
    {% for cook in cook_list %}
      <ul>
        <li>
          {{ cook.id }}.
          <a href="{% url 'kitchen:cook-detail' cook.id %}">
            {{ cook.username }}
            ({{ cook.first_name }}
            {{ cook.last_name }})
          </a>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>There are no Cooks yet</p>
  {% endif %}
{% endblock %}