{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mt-7 text-black">All dishes</h2>

  <form method="get" action="" class="form-inline mb-5">
    <div class="input-group" style="max-width: 600px; margin: auto;">
      {{ search_form.name.label_tag }}
      <input type="search" class="form-control text-black"
             placeholder="Search by dish name" aria-label="Search" 
             aria-describedby="search-addon" name="name" 
             value="{{ request.GET.name|default:'' }}" 
             style="padding-left: 30px;">
      
      <button class="input-group-text border-0" id="search-addon" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>

  <a href="{% url 'kitchen:dish-create' %}" class="btn btn-info mb-3">
    Add new dish
  </a>

  {% if object_list %}
  <div class="card shadow-2-strong" style="background-color: #f5f7fa; border-radius: 0.5rem;">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless mb-0 text-center align-middle">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <th>Dish type</th>
              <th>Ingredients</th>
              <th>Prepared by</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody class="table">
            {% for dish in object_list %}
            <tr>
              <td>
                <a href="{% url 'kitchen:dish-detail' dish.pk %}">{{ dish.name }}</a>
              </td>
              <td>
                <a href="{% url 'kitchen:dish-type-detail' dish.dish_type.id %}">{{ dish.dish_type.name }}</a>
              </td>
              <td>{{ dish.ingredients.all|join:", " }}</td>
              <td>
                {% for cook in dish.cooks.all %}
                  <a href="{% url 'kitchen:cook-detail' cook.id %}">
                    {{ cook.first_name }} {{ cook.last_name }}{% if not forloop.last %}, {% endif %}
                  </a>
                {% endfor %}
              </td>
              <td>{{ dish.price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  {% else %}
  <p>Dish not found.</p>
  {% endif %}
  </div>
</div>
{% endblock %}