{% extends "base.html" %}

{% block content %}
  <h1>
    Dish type list
    <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if dish_type_list %}
    {% for dish_type in dish_type_list %}
      <ul>
        <li>
          <a href="{% url 'kitchen:dish-type-detail' dish_type.id %}">
            {{ dish_type.name }}
          </a>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>There are no dish types yet</p>
  {% endif %}
{% endblock %}