{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'kitchen:dish-delete' dish.id %}" class="btn btn-danger">Delete</a>
  </h1>
  <br>

  <h4>Description: </h4>
  <p>{{ dish.description }}</p>

  <h4>Ingredients:</h4>
  {% for ingredient in dish.ingredients.all %}
     <li>{{ ingredient.name }}</li>
  {% endfor %}
  <br>

  <h4>Cooks:</h4>
  {% for cook in dish.cooks.all %}
    <li style="list-style-type: none"> {# not the best practice #} 
      {{ cook.first_name }} {{ cook.last_name }} ({{ cook.username }})
    </li>
  {% endfor %}

{% endblock %}