{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish_type.name }}
    <a href="{% url 'kitchen:dish-type-delete' dish_type.id %}" class="btn btn-danger">Delete</a>
  
  </h1>
  <hr>
  <br>
    {% if dishes.all %}
      <ul>
      {% for dish in dishes %}
        <li>
          <a href="{% url 'kitchen:dish-detail' dish.id %}">
            {{ dish.name }}
          </a>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>There are no dishes of this type yet.</p>
    {% endif %}
{% endblock %}