{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <div class="container mt-7">
        <h1 class="text-center mb-4">Ingredients List</h1>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="list-group">
            {% for ingredient in object_list %}
              <i class="list-group-item list-group-item-action">
                {{ ingredient.name }}
              </i>
            {% empty %}
              <div class="alert alert-warning text-center" role="alert">
                No ingredients found.
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</body>
{% endblock %}
