{% load static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %}
    <title>Kitchen Service</title>
  {% endblock %}

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <script src="https://kit.font-awesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <link id="pagestyle" href="{% static 'css/soft-design-system.css' %}" rel="stylesheet" />
</head>

<body>
   {% block body %}{% endblock body %}

  {% include "includes/navigation.html" %}
    
  {% block content %}{% endblock content %}
  {% block footer %}{% endblock footer %}
    
  {% include "includes/scripts.html" %}
    
  {% block javascripts %}{% endblock javascripts %}
  
  {% include "includes/pagination.html" %}
</body>
</html>